@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;400;700&display=swap');
/*
1 bg:#d0e67a t1:#213341 cta:#46AD8D
2 bg:#2F4858 t1:#d0e67a t2:#000000 cta::#46AD8D
*/
*
{
  font-family: Prompt,sans-serif;  
}
h1{
    font-weight: 700;
}
html,body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


/* NAV */
nav
{
    background-color: #d0e67ac9;
}
.nav-link{
    color: #27465e!important;
    font-weight: 700;
}
.active
{
    /* color: #27465e!important; */
    color: #2F4858!important;
    text-decoration: underline;

}
/* HERO */


.herosection
{
    overflow-y: hidden;
    font-family: 'Prompt', sans-serif;
}

.filmsection
{
    background-image: url(../images/b3.svg);
}
.hey,.hey1
{
    font-size: 3em;
    font-weight: bolder;
    line-height: 1.2em;
}

.imgcont
{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    
}
.heroimg
{
    height: max(400px,50vh);
    border-radius: 600px 400px 600px 400px;
    margin: auto;
}
.ctabtn
{

background-color: #ffffff;
/* background-color: #00BDAA; */
border-style: solid;
border-color: #2F4858;
/* border-color: black; */
color: #27465e;
margin-top: 10px!important;
font-weight: 400;
}
.cta:hover{
    outline: 0ch;

}



.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

/* ABOUT*/


.wrap h1{
    /* color: #d0e67a; */
    margin-bottom: 20px;
    height: fit-content;
    
}
.aboutsection .container .row
{
     height: fit-content;
}
.aboutsection .container
{
    margin-top:30px ;
}
.margintop
{
    margin-top: 20vh;
}


.skill
{
    background-color: #e4e4e2;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom:10px;
    border: black 1px solid;
    font-weight: 200;

}
.material-icons
{

    display: inline;
    margin-bottom:-30px ;
}
.wave1
{
 
    margin-top: -15px;

}
.abouttxt .material-icons
{
    font-size: 1em;
    color:#000000;
    vertical-align: middle;

}
.abouttxt img{

    height:2.8em;

}
.abouttxt
{
  margin-bottom:10px;  
  color: #e4e4e2;
}
.txt
{
    padding-left: 10px;
    height: fit-content;
    margin: auto 0 auto 0;
    font-weight: 200;
}

/* PROJECT */

.wave2
{

    margin-top: -5px;
}
.card
{
    z-index: 1;
    outline: 0;
    border-color: #2F4858;
    background-color: #00000000;
    text-align: center;
}


.projecthead
{
    margin-top: 10vh;
    height: 10vh;
    text-align: center;
    cursor: default;
    z-index: 1;
}
.card a{
    color: inherit;
    text-decoration: none;
}
.grow 
{ 
    transition: all .2s ease-in-out; 

}
.grow:hover
{
     transform: scale(1.03);
}
.card-title
{
    text-align: center;
    font-weight: 900;
    margin-top: 10px;
}
.card-text
{
    font-weight: 200;
}
.jpg1,.jpg2,.jpg3
{
    display: none;
}
.grow:hover .png1
{
    display: none;
}
.grow:hover .jpg1
{
    display: block;
}
.grow:hover .png2
{
    display: none;
}
.grow:hover .jpg2
{
    display: block;
}
.grow:hover .png3
{
    display: none;
}
.grow:hover .jpg3
{
    display: block;
}


/* ACTING */

.wave3
{
margin-top: -5px;

}
.actingsection
{
    background-color: #2F4858;
}

.filmhead
{
    color: #d0e67a;
    text-align: center;
    padding-top: 10vh;
}
.carouselslide
{
height:fit-content;
padding: 30px 130px;
}
.cimgwrap
{
    width: 30%;
    /* margin-left: 100px; */
}
.cimgwrap img{
    /* height: 50vh; */
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: #d0e67a;

    border-radius: 5px;
}
.ctextwrap
{
    padding-left: 20px;
    /* padding-top: 20px; */
    /* padding-right: 100px; */
    position: relative;
}
.chead
{
color: #d0e67a;
}
.carousel-control-prev, .carousel-control-next 
{
    width: 24px;
    z-index: 10;
    opacity: 1;
}
.cinfo
{
    color: #e4e4e2;
    font-weight: 200;
}

.arr
{
    color: #c8fa00;
    margin-bottom: 0px;
    width: 24px;
}
.arr:hover{
   opacity: 1;
   transform: scale(1.4);

}
.mrow
{
    display: flex;
    color: #e4e4e2;
    margin-top: 30px;
}
h2{
    font-weight: 400;
}
.mposter img
{
    max-height: 11em;
} 
.mtext
{
    margin-left: 20px;
    position: relative;
    font-weight: 200;
}
.mtext .btn
{
    position: absolute;
    bottom: 0;
}
/* CONTACT */

.wave4
{
    margin-top: -5px;
}

#cform *
{
margin-bottom: 20px;
}
#cform
{
    padding:0 10%;
    position: relative;
    padding-bottom: 55px;
}
#cform button{
position: absolute;
bottom: 0;
right: 10%;
margin-left: auto;
margin-right: auto;
}

.socialrow a
{
    width: 4em;
}
.socials
{
    width:4em;
    margin: 10px auto;
    padding: 10px;
}
.form-control
{
    border-color: #27465e;
    border-width:2px;
    background-color: #00000000;

}
.form-control:focus
{
    background-color: rgba(0, 0, 0, 0);
    outline: 0;
    border-width: 0px!important;
}
.form-control::placeholder {
    color:  #27465e;
    opacity: 1;
  }
  
  :-ms-input-placeholder { 
   color:  #27465e;
  }
  
  ::-ms-input-placeholder { 
   color:  #27465e;
  }

/* MEDIA QUERIES */

@media screen and (max-width: 767px) {
.hey{
    margin-top: 80px;
}
.active
{
    text-decoration: none;
}
.imgcont
{
display: none;
}
.wrap
{
    margin-bottom: 40px!important;
}
.heroimg
{
    width: 40vw;
    height: unset;
}
nav
{
    background-color: #d0e67ae0;
}
.card
{
margin-bottom: 30px!important;
}
.h-100
{
    height: fit-content!important;
}
h1
{
    text-align: center;
}
.skillwrap
{
    text-align: center;
}
.mrow
{
    display: block;

}
.mrow p
{
    margin-bottom: 0px;
}

.mposter
{
 text-align: center;
 margin-bottom: 10px;
padding-top: 20px;
border-width: 2px 0 0 0;
border-color:#d0e67a;
border-style: solid;

}
.mtext
{
    position: initial;
    text-align: center;
    margin: 0;
}
.mtext .btn
{
position: initial;
}
.noborder
{
    border-width:0px!important;
    border: none;
}
  }

/* UTILITY */

.sectionhead
{
    text-align: center;
    padding-top: 10vh;
    cursor: default;
    z-index: 1;
}

.colorgreen
{
    color: #d0e67a;
}
.colorgrey
{
    color: #e4e4e2;
}
.pb-30
{
    padding-bottom: 20px;
}
.mb-30
{
    margin-bottom: 30px;
}

#blob1
{
    position: absolute;
    top:-100px;
    left: -300px;
}
#blob2
{
    position: absolute;
    top: 100px;
    right:-300px;
    z-index: 3;
    overflow-x: hidden;
}
#blob
{
    z-index: -1;
}

section
{
    z-index: -2;
}
section  *
{
    z-index: 4;
}

/*
1 bg:#d0e67a t1:#213341 cta:#46AD8D
2 bg:#2F4858 t1:#d0e67a t2:#000000 cta::#46AD8D
*/

.bglime
{
    background-color: #d0e67a;
    color: #27465e;
}
.bggrayblue
{
    background-color: #2F4858;
    color: #000000;
}
.colorlime
{
    color: #d0e67a;
}